<style>
       #main-title{
         color:red;
         } .heading{
              font-size:20px;
       }
       #machine-learning {
         color:blue;
       }
       #ml-p{
         color:red;
       }
       #ml-p2{
         color:green;
       }